form {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    border: 1px solid #ddd;
    min-width: 500px;
  }
  input {
    padding: 5px 8px;
    border: none;
  }
  
  select {
    padding: 5px 10px 5px 8px;
    border: none;
    border-left: 1px solid #ddd;
  }
  
  button {
    border: none;
    padding: 15px;
  }

  .prioridad-alta {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-left: 7px solid #f5c6cb;
    display: flex;
    align-items: center;
  }
  
  .prioridad-media {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-left: 7px solid #ffeeba;
    display: flex;
    align-items: center;
  }
  
  .prioridad-baja {
    color: #004085;
    border: 1px solid #b8daff;
    border-left: 7px solid #b8daff;
    background-color: #cce5ff;
    color: #004085;
    display: flex;
    align-items: center;
  }
  
  .form-edit{
    display: flex;
    align-items: center;
  }